* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.imgModel {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 300px;
  height: 40%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: left;
  padding: 5px 15px;
}

.glassesModel {
  position: absolute;
  width: 175px;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
}
